@font-face {
    font-family: 'Imperial Script';
    src: url("./ImperialScript-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.hello {
    font-family: 'Imperial Script', sans-serif;
    color: red;
    background: url(./programming.png) no-repeat 0 center;
    padding-left: 20px;
    background-size: 16px;
    margin-left: 20px;
}
